In [10]:
import pandas as pd

In [11]:
input_path: str = "./Alpha_X_Aggregated.csv"

# read csv
df = pd.read_csv(input_path)

In [12]:
df.head()

,dev_id,datetime,F1 - peopleLeft/Up,F2 - peopleRight/Down,F3 - bikesLeft/Up,F4 - bikesRight/Down,F5 - carsLeft/Up,F6 - carsRight/Down,F7 - busesLeft/Up,F8 - busesRight/Down,F9 - trucksLeft/Up,F10 - trucksRight/Down
0,alphax-1692,2023-02-08 04:00:00,31,30,0,0,148,110,0,0,1,1
1,alphax-1692,2023-02-08 05:00:00,31,19,0,1,53,74,3,2,6,2
2,alphax-1692,2023-02-08 06:00:00,19,18,6,2,48,63,1,0,8,2
3,alphax-1692,2023-02-08 07:00:00,7,5,2,1,48,33,0,0,4,0
4,alphax-1692,2023-02-08 08:00:00,5,3,1,1,25,14,0,0,0,0

In [13]:
column_names = df.columns.tolist()
print(column_names)

['dev_id', 'datetime', 'F1 - peopleLeft/Up', 'F2 - peopleRight/Down', 'F3 - bikesLeft/Up', 'F4 - bikesRight/Down', 'F5 - carsLeft/Up', 'F6 - carsRight/Down', 'F7 - busesLeft/Up', 'F8 - busesRight/Down', 'F9 - trucksLeft/Up', 'F10 - trucksRight/Down']

In [14]:
# List of columns to drop
columns_to_drop = ['dev_id']

# Drop the specified columns from the DataFrame
df.drop(columns=columns_to_drop, inplace=True)

In [15]:
# Summing columns by transportation type into the 'df' DataFrame
df['Total People'] = df['F1 - peopleLeft/Up'] + df['F2 - peopleRight/Down']
df['Total Bikes']  = df['F3 - bikesLeft/Up']  + df['F4 - bikesRight/Down']
df['Total Cars']   = df['F5 - carsLeft/Up']   + df['F6 - carsRight/Down']
df['Total Buses']  = df['F7 - busesLeft/Up']  + df['F8 - busesRight/Down']
df['Total Trucks'] = df['F9 - trucksLeft/Up'] + df['F10 - trucksRight/Down']

In [16]:
df.head()

,datetime,F1 - peopleLeft/Up,F2 - peopleRight/Down,F3 - bikesLeft/Up,F4 - bikesRight/Down,F5 - carsLeft/Up,F6 - carsRight/Down,F7 - busesLeft/Up,F8 - busesRight/Down,F9 - trucksLeft/Up,F10 - trucksRight/Down,Total People,Total Bikes,Total Cars,Total Buses,Total Trucks
0,2023-02-08 04:00:00,31,30,0,0,148,110,0,0,1,1,61,0,258,0,2
1,2023-02-08 05:00:00,31,19,0,1,53,74,3,2,6,2,50,1,127,5,8
2,2023-02-08 06:00:00,19,18,6,2,48,63,1,0,8,2,37,8,111,1,10
3,2023-02-08 07:00:00,7,5,2,1,48,33,0,0,4,0,12,3,81,0,4
4,2023-02-08 08:00:00,5,3,1,1,25,14,0,0,0,0,8,2,39,0,0

In [17]:
print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
datetime                  0
F1 - peopleLeft/Up        0
F2 - peopleRight/Down     0
F3 - bikesLeft/Up         0
F4 - bikesRight/Down      0
F5 - carsLeft/Up          0
F6 - carsRight/Down       0
F7 - busesLeft/Up         0
F8 - busesRight/Down      0
F9 - trucksLeft/Up        0
F10 - trucksRight/Down    0
Total People              0
Total Bikes               0
Total Cars                0
Total Buses               0
Total Trucks              0
dtype: int64

In [18]:
clean_df = df.dropna()

In [19]:
rel_output_file_path: str = "../../api/db/data/sunshine_coast_council_alpha_x.csv"
clean_df.to_csv(rel_output_file_path, index=False)